
div{
  /* border: 1px;
  border-color: black;
  border-style: solid; */
  margin: 50px;
  background-color: antiquewhite;
  width: 500px;

}

label{
  min-width: 100px;
  margin-left: 50px;
}

button{
  margin-right: 10px;
}

